*{
  margin: 0px;
  padding: 0px;
}
/* css variables*/
:root{
  --navbar-height:59px;
}
/* navigation */
#navbar{
  display: flex;
  align-items: center;
  /*rowise centre alignment  */
  /* justify content for column wise center*/
  position: relative;
  top:0px;
}
#logo{
  margin:10px 34px;
}
#logo img{
  height: 36px;
  margin: 14px;
}
  
#navbar::before{
  content:"";
  background-color: black;
  position: absolute; 
  z-index: -1;
  opacity: 0.4;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
}
#navbar ul{
  display: flex;
  font-family: 'Bree Serif',serif;
}
#navbar ul li{
  list-style:none ;
  font-size: 1.5rem;
}
#navbar ul li a{
  display: block;
  color:white; 
  padding:10px 20px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover{
 color:black ;
 background-color: white;
}
/* home section */
#home{
  display: flex;
  flex-direction: column;
  padding:3px 200px;
  height:321px;
  justify-content: center;
  align-items:center;
}
#home::before{
  content:"";
  background:url('../d.jpg') no-repeat center center/cover ;
  position: absolute; 
  z-index: -1;
  opacity: 0.89;
  height:70%;
  width:100%;
  top:0px;
  left:0px;
}
#home  h1{
  color:white;
  text-align: center;
  font-family: 'Bree Serif',serif;
}
#home  p{
  color:white;
  text-align: center;
  font-size:1.5rem;
  font-family: 'Bree Serif',serif;
}
#services{
  margin: 34px;
  display: flex;
}
#services .box{
  border:2px solid brown;
  padding:34px;
  margin:3px 6px;
  border-radius: 23px;
  background-color: #414344;
}
#services .box img{
  height: 160px;
  margin: auto;
  display: block;
}
#clients-section{
  height:344px;
}
#clients{
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-item{
  padding:50px;
}
#clients img{
    height:190px;
}
#contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box label{
  font-size: 1.1rem;
  color:coral;
  font-family: 'Bree Serif',serif;
}
#contact-box input,
#contact-box textarea{
  width:93%;
  padding:0.5rem;
  border-radius: 6px;
}
footer{
  background-color:black;
  color:white;
  padding:9px 20px;
}
.h-primary{
  font-size:3.8rem;
  padding:12px;
  margin:-24px;
  font-family: 'Bree Serif',serif;
  color:white;
}
.h-secondary{
  font-size:2.3rem;
  padding: 12px;
  font-family: 'Bree Serif',serif;
}
.btn{
  padding:6px 20px;
  border:2px solid white;
  background-color:#00639a;
  color:white;
  margin:17px;
  font-size:1.2rem;
  border-radius:10px;
  cursor:pointer;
}
.btn:hover{
  background-color: white;
  color:#00639a;
}
.center{
  text-align:center;
}